quart==0.18.4
quart-cors==0.7.0
blinker==1.5
SQLAlchemy==2.0.43
aiosqlite==0.20.0
werkzeug==2.3.7
click==8.2.1
greenlet==3.2.4
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
aiofiles==24.1.0
apscheduler==3.10.4
pytest==8.4.2
pytest-asyncio==1.2.0
hypercorn==0.17.3
passlib==1.7.4
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pygments==2.19.2
typing_extensions==4.15.0
